body {
    background-color: #482284;
}

@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-SemiBold.ttf');
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */


    color: #FFED12;
}

/* Style the header */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  hr {
  position: relative;
  width: 100%;
  height: 0%;
  left: 0%;
  top: 100%;

  border: 5px solid #FFED12;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }